# Server Port
PORT=4000

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgrespassword
DB_NAME=greenpantry_db

# Full Database URL
DATABASE_URL=postgres://postgres:postgrespassword@localhost:5432/greenpantry_db

# CORS Origin
CORS_ORIGIN=http://localhost:3000
